
.authPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    height: 100vh;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* расстояние между всеми дочерними элементами формы */
}


.formGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 5px
}

.authInput {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 16px;
}


.authButton {
    color: white;
    border: none;
    background-color: mediumpurple;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    max-width: 150px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 300;
}

.authButton:hover {
    background-color: rgb(187, 130, 255);
}

.authText {
    font-size: 12px;
}

.errorText {
    color: red;
    font-size: 14px;
}
