
.authPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    height: 100vh;
    gap: 30px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 5px
}

.authInput {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 16px;
}

.errorText {
    color: red;
    font-size: 14px;
}
