.header {
    background: mediumpurple;
    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 1.5rem;
}

header .navigation a {
    color: white;
}

.navigation a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #ffd700;
}

.navigation a.active {
    border-bottom: 2px solid #ffd700;
    padding-bottom: 2px;
}
